<ion-header>

  <ion-navbar text-center>
    <ion-title>แล้วแต่ เพราแท้</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="Model">
  <img src="{{Model.imageUrl}}" alt="text-center" width="150">
  <ion-row>
    <ion-col col-9>
      <h3>{{Model.name}}</h3>
    </ion-col>
    <ion-col col-3>
      <button ion-button>Edit</button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-label>Defalt</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="false" cancelText="ยกเลิก" okText="Okay!">
        <ion-option *ngFor="let m of Model.menues" value="{{m.id}}" selected="true">{{m.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item-group>
    <ion-item *ngFor="let m of Model.menues">{{m.name}}</ion-item>
  </ion-item-group>

</ion-content>