<ion-header>

  <ion-navbar text-center>
    <ion-title>แล้วแต่ เพราแท้</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="Model">
  <br><br><br>
  <ion-card-content text-center>
    <img src="{{Model.imageUrl}}" alt="text-center" width="150" (click)=" Camera()">
  </ion-card-content>
  <ion-row>
    <ion-col col-9>
      <h3>{{Model.name}}</h3>
    </ion-col>
    <ion-col col-3>
      <button ion-button color="secondary"  (click)="Edit()">
        Edit
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-9>
          <ion-list>
              <ion-item>
                <ion-label>Default </ion-label>
                <ion-select [(ngModel)]="defaultChoice" multiple="false" cancelText="ยกเลิก" okText="เปลี่ยน">
                  <ion-option *ngFor="let m of Model.menues" value="{{m.id}}" selected="{{Model.defaultMenuId==m.id}}">{{m.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
      </ion-col>
      <ion-col col-3>
          <button ion-button color="secondary" (click)="SetDefault()">เปลี่ยน</button>
      </ion-col>
  </ion-row>
  <div text-right>
    <button ion-button color="secondary"  (click)="AddMenu()">เพิ่มเมนู</button>
  </div>
  <ion-item-group>
    <div>
      <ion-row *ngFor="let m of Model.menues">
        <ion-col col-10>
          {{m.name}}
        </ion-col>
        <ion-col col-1>
          <ion-icon ios="ios-create" md="ios-create-outline" (click)="EditMenu(m.id, m.name)"></ion-icon>
        </ion-col>
        <ion-col col-1>
          <!-- <button (click)="EditMenu(m.id, m.name)">Edit</button> -->
          <ion-icon ios="ios-trash" md="ios-trash-outline" (click)="DeleteMenu(m.id)"></ion-icon>
          <!-- <button (click)="DeleteMenu(m.id)">Del</button> -->
        </ion-col>
      </ion-row>
    </div>
  </ion-item-group>

</ion-content>