<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h3 text-center *ngIf="Model">{{Model.title}}</h3>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="Model">
  <br />
  <br />
  <br />
  <ion-row>
    <ion-col col-9>
      <h4>{{Model.selectedShopName}}</h4>
    </ion-col>
    <ion-col col-3>
      <h6>{{Model.orders?.length}}/{{Model.menues?.length}}</h6>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-10>
      <ion-input type="text" placeholder="Filter"></ion-input>
    </ion-col>
    <ion-col col-2>
      <ion-buttons end>
        <button ion-button color="secondary" icon-only>
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-list radio-group>
    <ion-row *ngFor="let m of Model.menues">
      <ion-col col-10>
        <ion-item color="{{GetColor(m.id)}}">
          <ion-radio checked="false" value="{{m.id}}" item-start (click)="ChangeChoice(m.id)"></ion-radio>
          <ion-label>{{m.name}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <div style="margin-top: 15px">
          <label>{{GetOrderCount(m.id)}}</label>
        </div>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>
<ion-footer *ngIf="Model">
  <button color="secondary" ion-button block (click)="Vote()" [disabled]="Model.closePollDate">สั่ง</button>
</ion-footer>